.vid-card-label {
  color: #666;
}

.vid-card {
  display: flex;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  background: rgb(220, 220, 220);
}

.vid-card .vid-card-content {
  display: flex;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.vid-card-video {
  width: 60%;
}

.vid-card-label {
  font-size: 0.75rem;
}

.vid-card-title {
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  .vid-card .vid-card-content {
    flex-direction: column;
  }
  .vid-card-video {
    width: 100%;
  }
}
